*{
  box-sizing: border-box;
}

@font-face {
  font-family: "NCAA Colorado Buffs Boulder Bold";
  src: url("../Fonts/NCAA\ Colorado\ Buffs\ Boulder\ Bold.ttf");
}

body {
  background: url("../Images/bball-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: "NCAA Colorado Buffs Boulder Bold";
}

#header-row {
  margin-top: 5rem;
}

#button-div,
#title-div {
  display: flex;
  justify-content: center;
}

#titleName,
#startButton,
#resetButton {  
  text-align: center;
  color: white;
}

#titleName {
  height: 60px;
  width: 300px;
  margin-top: 20px;
  line-height: 60px;
  font-size: 60px;
}

#startButton,
#resetButton {
  height: 50px;
  width: 200px;
  margin-top: 75px;
  font-size: 40px;  
  background-color: rgb(19, 82, 165);
}

#timerBlock,
#triviaQuestion,
#answerBlock,
#answerImg,
#resetBlock {
  text-align: center;
  color: white;
}

#timerBlock {
  padding: 50px;
  font-size: 50px;
}

#triviaQuestion,
#resetBlock {
  padding-top: 70px;
  font-size: 40px;
}

#answerBlock {
  padding-top: 50px;
  font-size: 30px;
}

.choices {
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  background-color: rgb(19, 82, 165);
  color: white;
}

@media only screen and (max-width: 1025px) {

  .container {
    margin: 0;
  }
  
  .row {
    margin: 0 auto;
  }

  #logo {
    width: 350px;
  }

  img {
    width: 350px;
  }

  #header-row {
    margin-top: 10rem;
  }

  #header-row,
  #title-row,
  #button-row,
  #question-row,
  #answer-row,
  #image-row,
  #timer-row,
  #reset-row {
    justify-content: center;
  }
}